# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
*.npy
checkpoint
test1.tfl.data-00000-of-00001
test1.tfl.index
test1.tfl.meta
trained_weights_backup/

test5epochs.tfl.data-00000-of-00001
test5epochs.tfl.index
test5epochs.tfl.meta

*.meta
*.index
00000-of-00001*



plus_hundred.data-00000-of-00001
plus_hundred_general.data-00000-of-00001
plus_hundred_general_l1.data-00000-of-00001
plus_hundred_general_l1_3000.data-00000-of-00001
plus_hundred_general_l1_khodesh.data-00000-of-00001
plus_hundred_general_l1_khodesh2.data-00000-of-00001
plus_one.data-00000-of-00001
replace.data-00000-of-00001
test_alaki.data-00000-of-00001
test_hamani.data-00000-of-00001
test_hame_yek.data-00000-of-00001

sort_32_orig_input.data-00000-of-00001
models/
